.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100vh;
  width: 600px;
  margin: 0 auto 0 auto;
}

.container .image{
  max-width: 600px;
  margin-top: 20px;
}

.container h1{
  border-bottom: 5px solid cadetblue;
}

.blog {
  max-width: 600px;
  margin-bottom: 5rem;
}

.blog img {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.blog .author{
  font-weight: bold;
}